* {
    box-sizing: border-box;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    color: black;
    font-family: sans-serif;
    padding: 5px 0;
}
.navlogo {
    margin: 20px;
    border-radius: 10px;
    filter: opacity(0.9);
}
.navlist {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 20px;
    flex-wrap: wrap;
    font-size: 15px;
}
.navlist a {
    text-decoration: none;
    color: blue;
}
.mainsec {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    /* background-color: rgba(0, 0, 0, 0.0.05);
    background-image: url('Vidafa2.jpg');
    background-size: cover;
    background-position: center; */
}
.nameimg img {
    position: relative;
    right: 250px;
    top: 22px;
}
.nameimg {
    display: flex;
    justify-content: space-around;
}
.parasec {
    width: 70%;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.namesec {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(14, 227, 35);
    font-size: 40px;
    position: relative;
    left: 240px;
    top: 7px;
}
.asec {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-family: 
    'Franklin Gothic Medium', 
    'Arial Narrow', Arial, 
    sans-serif;
}
.followlink {
    padding: 30px;
}
.card {
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.05),
    0 6px 20px
    rgba(0, 0, 0, 0.05),
    0 6px 20px 
    rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.cardimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.card img {
    border-radius: 10px;
}
.card p {
    font-family: cursive;
    color: rgb(37, 88, 90);
}
.cardbtn {
    border: none;
    border-radius: 10px;
    background-color: orchid;
    padding: 10px;
}
.cardbtn:hover {
    padding: 11px;
    color: white;
    cursor: pointer;
}
.news_sec {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
}
.horizon {
    height: 0;
    flex-grow: 1;
    position: relative;
    top: 20px;
    left: 20px;
}
.news {
    font-family: 
    'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', 
    Arial, sans-serif;
    color: red;
    font-size: 30px;
}
.tst {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    margin: 100px;
}
.tstimg {
    height: 510px;
    border-radius: 15px;
}
.tst_art1 {
    font-family:
    'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    color: rgb(4, 4, 76);
    font-size: 20px;
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.05),
    0 6px 20px
    rgba(0, 0, 0, 0.05),
    0 6px 20px 
    rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 10px;
}
.tst_art2 {
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.05),
    0 6px 20px
    rgba(0, 0, 0, 0.05),
    0 6px 20px 
    rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 10px;
    font-family:
    'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    color: rgb(4, 4, 76);
    font-size: 20px;
}
.art_con, .img_con {
    width: 50%;
}
.art_con {
    display: flex;
    flex-direction: column;
}
.h2_con {
    font-size: 40px;
    position: relative;
    bottom: 10px;
    font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans', 
    Arial, sans-serif;
    color: yellowgreen;
}
.formsec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.05),
    0 6px 20px
    rgba(0, 0, 0, 0.05),
    0 6px 20px 
    rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
}
.form {
    width: 60%;
    font-size: 30px;
    padding: 20px;
}
.form input {
    border: none;
    border-bottom: 1px ridge black;
    font-size: 20px;
    padding: 10px;
    color: green;
    inline-size: 450px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.select {
    border: none;
    cursor: pointer;
    font-family: cursive;
    color: purple;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 7px;
}
textarea {
    border: none;
    background-color: #e4e4e4;
    border-radius: 10px;
    padding: 15px;
    line-height: 50px;
    font-size: 20px;
    inline-size: 500px;
}
.formbtn {
    border: none;
    padding: 10px;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    line-height: 20px;
    inline-size: 200px;
    font-size: 20px;
    font-family: cursive;
    position: relative;
    top: 20px;
}.formbtn:hover {
    padding: 12px;
    background-color: orange;
    cursor: grab;
    color: black;
    font-family: cursive;
}
.purpose {
    width: 40%;
    font-size: 135%;
    text-transform: capitalize;
    text-align: center;
}
.purpose h1 {
    font-family: Arial, 
    Helvetica, sans-serif;
    color: gray;
    text-transform: none;
}
.award {
    text-align: center;
}
.horizontal {
    margin: 50px 100px;
}
.award p {
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.05),
    0 6px 20px
    rgba(0, 0, 0, 0.05),
    0 6px 20px 
    rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;
    bottom: 20px;
}
.award i {
    position: relative;
    top: 20px;
    color: green;
    font-size: 20px;
}
.award h3 {
    font-size: 30px;
    font-family: 
    Verdana, Geneva, 
    Tahoma, sans-serif;
    margin-top: 20px;
}
.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('vidafa_footer.jpg');
    background-position: center;
    background-size: cover;
    padding: 20px;
    color: white;
}
.ft_con {
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.ft_con p {
    font-size: 30px;
}
.ftlink {
    color: whitesmoke;
    font-family:'Trebuchet MS', 
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans', 
    Arial, sans-serif;
}
.ftlinks {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: center;
    list-style: none;
    margin-left: 530px;
    gap: 20px;
    padding: 20px;
}
address {
    font-size: 30px;
    margin-top: 20px;
    text-decoration: solid;
}
.alnk {
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}
.callbtn {
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: help;
}
.hd3 {
    margin-left: 300px;
}
.hd_3 {
    margin-left: 100px;
}
.footlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 20px;
}
.footlinks a {
    color: blue;
    text-decoration: none;
    font-family: monospace;
}